html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  
}
body {
  background: #d3d9dc;
}

section#research {
  width: 90%;
  height: 680px;
  margin: 20px auto;
  position: relative;
}

section#research article  div.centralalign {
  margin: auto;
  width: 35%;
  height: 100%;
  padding: 10px;
}

 section#research article  div.circlesred {
   background-color: red;
   position: relative;
   width: 300px;
   height: 300px;
   border-radius: 150px;
   opacity: 0.5;
   right: 20%;
   top: 30%;
   z-index: 1;
 }

 section#research article  div.circlesblue {
  background-color: blue;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  opacity: 0.5;
  right: -70%;
  top: -6.6%;
  z-index: 2;
}

section#research article  div.circlesgreen {
  background-color: green;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  opacity: 0.8;
  right: 35%;
  top: 55%;
  z-index: 3;
}

section#research article  div.circlesred div.research1{
 font-weight: 900;
 transform: translate(-30px, 140px);
 color: black; 
}

section#research article  div.circlesblue div.research2{
  font-weight: 900;
  transform: translate(20px, 140px);
  color: rgb(233, 229, 229);
 }

 section#research article  div.circlesgreen div.research3{
  font-weight: 900;
  transform: translate(10px, 150px);
  color: yellow;
 }
